<h1>Photos of anything!</h1>


<div id="search">
    <form id="srch">
        <input type="text" placeholder="Lighthouses?" id="search-box"/>
        <input type="submit" class="search">
    </form>
</div>

<img id="photos"></img>